Package: com.paigu.qq
Name: QQAntiRecall
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 糖醋丶炒排骨
Author: 糖醋丶炒排骨
Section: Tweaks
